[Unit]
Description=<node starknet services>

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash -c 'source /home/ubuntu/starknet-node/pathfinder/py/.venv/bin/activate && /home/ubuntu/starknet-node/pathfinder/target/release/pathfinder --http-rpc 0.0.0.0:9545 --ethereum.url $endpoint'

[Install]
WantedBy=multi-user.target